

<hr>

<!-- CARD ZONE -->
<section class="container card-box">
  <div class="card-animate">
    <div (click)="toggleOpenedBool()" [ngClass]="{'is-flipped': openedBool}" id="test" class="card__inner">
      <div class="card__face card__face--front">
        <p class="card__title text-light">Branding</p>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <img src="../../../assets/img/card/branding.png" alt="" class="pp" />
            <p class="card__title mx-2">Branding</p>
          </div>
          <div class="card__body">
            <p>Lorem</p>
            <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-animate">
    <div (click)="toggleOpenedBool1()" [ngClass]="{'is-flipped': openedBool1}" id="test" class="card__inner">
      <div class="card__face card__face--front">
        <p class="card__title text-light">Direction Artistique</p>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <img src="../../../assets/img/card/art.png" alt="" class="pp" />
            <p class="card__title mx-2">Direction Artistique</p>
          </div>
          <div class="card__body">
            <p>Lorem</p>
            <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-animate">
    <div (click)="toggleOpenedBool2()" [ngClass]="{'is-flipped': openedBool2}" id="test" class="card__inner">
      <div class="card__face card__face--front">
        <p class="card__title text-light">Webdesign</p>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <img src="../../../assets/img/card/webdesign.png" alt="" class="pp" />
            <p class="card__title mx-2">Webdesign</p>
          </div>
          <div class="card__body">
            <p>Lorem</p>
            <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-animate">
    <div (click)="toggleOpenedBool3()" [ngClass]="{'is-flipped': openedBool3}" id="test" class="card__inner">
      <div class="card__face card__face--front">
        <p class="card__title text-light">Communication</p>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <img src="../../../assets/img/card/communication.png" alt="" class="pp" />
            <p class="card__title mx-2">Communication</p>
          </div>
          <div class="card__body">
            <p>Lorem</p>
            <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container card-box">
    <div class="card">
      <div class="card-body"></div>
      <div class="card-footer">
        <p class="test text-center">Branding</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body"></div>
      <div class="card-footer">
        <p class="test text-center">Direction Artistique</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body"></div>
      <div class="card-footer">
        <p class="test text-center">Webdesign</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body"></div>
      <div class="card-footer">
        <p class="test text-center">Communication</p>
      </div>
    </div>
</section> -->
<button type="button" class="btn btn-outline-dark d-flex my-5 mx-auto">Commencer mon projet</button>

<h1 class="text-center my-5">Layale Agency</h1>

<!-- INFOS -->
<section class="container">
  <p class="justify-text">Layale Agency est une agence de communication fondée en Mars 2020 par Layale Faour, directrice artistique. Elle est spécialisée en image de marque et publicité. <br class="sm-screen"><br class="sm-screen"> Grâce à des
    partenaires de qualités, l’agence vous propose une communication 360°. Elle vous accompagne de A à Z dans vos projets graphiques et vous aide à définir votre propre univers,
    unique et singulier.
    </p>
</section>
<hr class="my-5 mx-auto w-50">

<section class="container infos mt-5">
  <div class="info">
    <h2>L’ÉQUIPE</h2>
    <p class="justify-text mt-5">Layale est directrice artistique indépendante spécialisée en image de
      marque et publicité. Diplomée d’un master en direction artistique et de la
      création et design digital de l’école Sup de Pub.<br><br class="sm-screen">Franco-libanaise, fière de
      faire partie de deux cultures : occidentales et orientales dans lesquelles
      elle puise ses inspirations.Passionnée par l’art notamment par la danse et
      la peinture, elle fait du monde qui l’entoure une source d’inspiration
      continue. <br>
      Sa force réside dans l’écoute attentive des attentes du clients mais aussi
      de sa personnalité afin de cerner le client tant au niveau professionnel que
      personnel pour raconter au mieux son histoire via l’image.
      <br class="sm-screen"><br class="sm-screen">Son but : retranscrire les mots en images. Raconter votre histoire,
      transmettre un message par l’image</p>
  </div>
  <div class="info-img">
    <img src="../../../assets/img/portrait.jpg" alt="Portrait de ... ">
  </div>
</section>

<!-- PORTFOLIO -->
<hr class="my-5 mx-auto w-50">

<h3 class="text-center">Portfolio</h3>
<section class="container portfolio mx-auto">
  <div class="mx-auto">
    <div class="fake-box"></div>
    <p>lorem ipsum dolor sit amet, consectetur adip </p>
  </div>
  <div class="mx-auto">
    <div class="fake-box"></div>
    <p>lorem ipsum dolor sit amet, consectetur adip </p>
  </div>
  <div class="mx-auto">
    <div class="fake-box"></div>
    <p>lorem ipsum dolor sit amet, consectetur adip </p>
  </div>
  <div class="mx-auto">
    <div class="fake-box"></div>
    <p>lorem ipsum dolor sit amet, consectetur adip </p>
  </div>
</section>

<button type="button" class="btn btn-default d-flex mx-auto">
  <i class="bi bi-plus-circle add-me" ></i>
</button>

<!-- SKILLS -->
<hr class="my-5 mx-auto w-50">
<h4 class="text-center">Compétences</h4>

<section class="skills">
  <div class="container skills-container">
    <div class="round"></div>
    <div class="round"></div>
    <div class="round"></div>
    <div class="round"></div>
    <div class="round"></div>
  </div>
</section>

<!-- REFERENCE -->
<hr class="my-5 mx-auto w-50">
<h5 class="text-center">Références</h5>
<section class="reference">

</section>

<!-- CONTACT -->

<section class="contact">
  <h5 class="text-center text-light my-5">Contact</h5>
  <div class="container contact-container">
<!--form-->
    <form action="">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" id="nom" placeholder="Nom">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input type="text" class="form-control" id="objet" placeholder="Objet">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input type="text" class="form-control message-area" id="message" placeholder="Message">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-light contact-btn col-12">Envoyer</button>
    </form>
  </div>

</section>



